@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-linen: #FAF8F1;
  --color-wheat: #F8F5D7;
  --color-gray: #FBFBFB;
  --color-light: #FFFFFF;
}

html {
  @apply h-full;
}

body {
  @apply min-h-full bg-inherit;
}

h1,
h2,
h3 {
  @apply font-semibold;
}

article {
  @apply text-lg leading-[1.8] text-black dark:text-white;

  pre {
    &:not(blockquote pre) {
      @apply -mx-8 p-0! shadow-sm;
    }

    > code {
      @apply inline-block m-8;
    }
  }

  blockquote {
    padding-left: calc(var(--spacing) * 8 - 3px) !important;
    margin-left: calc(var(--spacing) * -8) !important;

    @apply border-black! dark:border-white!;
  }
}

.highlight tr {
  border-bottom-width: 0;
}

.btn {
  @apply rounded-full bg-black px-7 py-4 text-sm text-white no-underline shadow-sm duration-100 active:scale-95 dark:bg-white dark:text-black;
}

.link {
  @apply duration-200 hover:text-black dark:hover:text-white;
}

.not-ready * {
  @apply transition-none!;
}

.prose {
  @apply wrap-break-word;

  kbd:has(kbd) {
    @apply shadow-none;
  }
}

.btn-menu {
  &::before,
  &::after {
    @apply block h-[2px] w-5 bg-black duration-200 content-[''];
  }

  @apply dark:before:invert dark:after:invert;

  &:where(.open *) {
    &::before {
      @apply w-6 translate-y-[6px] rotate-45;
    }

    &::after {
      @apply w-6 -translate-y-[6px] -rotate-45;
    }
  }
}

.open {
  @apply overflow-hidden;

 .nav-wrapper {
    @apply top-0;
  }
}
